div {
    height: 200px;
}

.background-color {
    background-color: blue;
}

.background-image {
    background-image: url(images/my_photo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}